
body {
    background-color: #cdffd4;
    color: #333;
}
header {
    background-color: #333;
    padding: 40px 0;
}

.header-container {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

header nav a.active {
    color: #ff4d00;
}

.content-container {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-right: 5%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-section p strong {
    color: #ff4d00;
}

strong {
    color: #ff4d00;
}

.content5{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.photo{
    width: 50%;
    margin-top: 180px;
    margin-left: 5%;
}

