
.content-container {
    width: 50%;
    margin-top: 200px;
    margin-left: 45%;
    margin-right: 5%;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-section p strong {
    color: #ff4d00;
}

strong {
    color: #ff4d00;
}


