.table1{
    margin-top:100px;
    
 }
 
 table{
    border-collapse: collapse;
    width: 60%;
    margin: 100px auto;
 }
 
 table td, th{
    border: 1px solid #000000;
    z-index: 50;
    text-align: center;
    padding: 20px;
 }
 
 tbody tr:nth-child(odd)     {
    background-color : #f9f9f9;
 }
 
 tbody tr:nth-child(even)     {
    background-color : #e6f7ff;
 }
 
 tbody tr:hover {
    background-color: #d1ecf1;
 
 }