.searchresult{
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    
    display: flexbox
    
}

.s_item_text{
    margin-left: 20px;
}


.s_item_image{
    width: 100px;
    height: 150px;
}


.sitem{
    display: flex;
    padding: 15px;
    border: 3px rgb(193, 193, 193) solid;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: rgb(157, 252, 208);
    box-shadow: 0px 4px 6px rgba(2, 83, 75, 0.701);
    cursor: pointer;

}